# the region which that validation tool runs within
AWS_REGION='us-east-1'
# the aws credentials for the user which run the validation tool
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# the s3 bucket that contains json files describing the infrastructure
# so we can perform validation. The name of the bucket no the bucket address
PAYLOADS_BUCKET='jessbk-cpbvt-payloads'
OUTPUT_PATH='/workspace/cloud-project-bootcamp-validation-tool/examples/output'

USER_UUID='23ee8323-f3ef-4bb4-a045-033fad95002c'
USER_AWS_REGION='us-east-1'